<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
    <title>ChatDB</title>
    <link rel="icon" href="{{ url_for('static', filename='images/logo.png') }}" type="image/png">

</head>
<body>    
    <div class="container">
        <aside class="sidebar">
            <button class="new-chat-btn">+ New Conversation</button>
            <div id="chat-history" class="chat-history">
                <!-- insert history chat -->
            </div>
        </aside>
        
        <main class="main-content">
            <h1 style="display: flex; justify-content: center; vertical-align: middle;">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" style="height: 40px; vertical-align: middle; padding-right: 10px;">
                <div style="border: 5px;"> ChatDB</div>
            </h1>
            <div class="messages" id="messages">
                <!-- chat dynamic content -->
                <div class="message bot-message">
                    <!-- <p>你好，有什么我可以帮你的吗？😊</p> -->
                    <!-- <p>Welcome, please upload yur file first 😊</p> -->
                </div>
            </div>
            
            <div class="input-container">

                 <!-- upload -->
                 <div id="drop-zone" class="drop-zone">
                    <div class="upload-text">Drag and drop your files here</div>
                    <input type="file" id="file-input" style="display: none" multiple>
                    <ul class="file-list"></ul>
                    <div class="upload-progress">
                        <div class="progress-bar"></div>
                    </div>
                    <div class="upload-actions">
                        <button class="upload-btn">Upload</button>
                        <button class="cancel-btn">Cancel</button>
                    </div>
                </div>

                <!-- <form id="user-form" class="user-form" onsubmit="handleSubmit(event)"> -->
                <form id="user-form">
                    <input type="text" 
                        id="user-input-text" 
                        name="user-input"
                        class="input-box" 
                        placeholder="Message ChatDB..." 
                        rows="1"
                        required
                    >
                    <input type="submit" value="Send" class="submit-button">
                    
                </form>
                <div id="error-message" class="error-message"></div>
            </div>
            
            <footer class="footer">
                Made by <span>Group 40</span> | 
                <a href="https://github.com/Omiikay/DSCI551" target="_blank">Github</a>
            </footer>
        </main>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="{{url_for('static', filename='script.js')}}"></script>
</body>
</html>