<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatDB</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/logo.png') }}" type="image/png">
</head>
<body>
    <div style="display: flex; justify-content: center; height: 40px; vertical-align: middle;">
        
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" style="height: 40px; vertical-align: middle;">
        ChatDB
    
</div>
    <div class="container">
        <!-- 会话记录 -->
        <div class="conversation" id="conversation-container">
            <h3>Records:</h3>
            {% if conversation %}
                <ul>
                    {% for record in conversation %}
                        <li>
                            <strong>Input:</strong> {{ record.input }} <br>
                            <strong>Response:</strong> {{ record.response }}
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No record</p>
            {% endif %}
        </div>

        <!-- JavaScript方法实现滚动条永远在最下面 -->
        <script>
            function scrollToBottom() {
                const container = document.getElementById('conversation-container');
                container.scrollTop = container.scrollHeight;
            }
        
            document.addEventListener("DOMContentLoaded", scrollToBottom);
        </script>

        <!-- 显示提取的关键词 -->
        {% if Response %}
            <div class="result">
                <h3>Response:</h3>
                <ul>
                    <li>{{ Response }}</li>
                </ul>
            </div>
        {% endif %}
        
        <!-- 显示错误或成功消息 -->
        {% if error %}
            <div class="error">{{ error }}</div>
        {% endif %}
        {% if success %}
            <div class="success">{{ success }}</div>
        {% endif %}

        <hr>

        <!-- 文本输入表单 -->
        <form method="POST">
            <textarea name="text" placeholder="Message ChatDB">{{ request.form.get('text', '') }}</textarea>
            <div>
                <button type="submit">SUBMIT</button>
            </div>
        </form>    

        <hr>

        <!-- 文件上传表单 -->

        <!-- 上传提示 -->
        <div class="global-hint">
            <p>*UPLOAD Only support CSV document*</p>
        </div> 

        <form method="POST" enctype="multipart/form-data">
            <!-- 此处根据系统语言 选择文件按钮只能是中文 -->
            <input type="file" name="file">
            <button type="submit">UPLOAD</button>
        </form>
    </div>
</body>
</html>
